article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// VARIABLES
// $orange: #ffaa02;
$orange: #ffc802;
$orangedarker: #b57200;
$navy: #091266;
$navydarker: #00042d;
$blue: #007df2;
$pinkdarker: #b5003f;
$offgrey: #dddddd;

// GENERAL STYLING

body {
	background-color: white;
	color: grey;
	font-size: 16px;
	font-family: 'Lato', 'Arial', sans-serif;
	position: relative;
}

.wrapper {
	width: 84%;
	margin: 0 auto;
	padding: 50px 0;
}

p {
	margin: 0;
	padding: 0;
	text-align: left;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

h2 {
	padding: 50px 0 50px 0;
	margin: 0;
	font-size: 4.5em;
	font-family: 'Unica One', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: $blue;
}

@media (max-width: 750px) {
	h2 {
		padding: 50px 0 25px 0;
	}
}

@media (max-width: 550px) {
	h2 {
		font-size: 3em;
	}
}

/*clickable buttons*/

.button {
	background-color: $navy;
	border-bottom: 3px solid $navydarker;
	text-transform: uppercase;
	color: white;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
	border-radius: 5px;
	height: 60px;
	width: 124px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s all ease;
}

.button p {
	margin: 0 auto;
}

.button:hover {
	background-color: $orange;
	border-bottom: 3px solid $orangedarker;
}

.flex {
	text-align: left;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.short-text {
	font-size: 2em;
	line-height: 1.2em;
	text-align: center;
	font-weight: 400;
	margin: 0 0 3% 0;
	color: $navy;
}

// split sections

.large-half {
	width: 55%;	
}

.small-half {
	width: 45%;
	padding-right: 3%;
}

//even sections (skills and portfolio)

.even {
	background: url(background_tile/dark_mosaic.png) fixed;
	padding-bottom: 50px;
}

//odd sections (objective and contact)

.odd {
	background: url(background_tile/gplaypattern.png);
}

// ABOUT SECTION

// mani navigation styles
.main-nav {
	position: fixed;
	top: 0;
	right: -200px;
	background-color: $navy;
	z-index: 10;
	width: 200px;
	height: 100%;
	transition: 0.5s all ease;
}

.main-nav ul {
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-nav ul li {
	width: 50%;
	border-bottom: 3px solid transparent;
}

.main-nav ul li:hover {
	border-bottom: 3px solid $orange;
}

.main-nav li p {
	color: white;
	text-align: center;
	padding: 30px 0;
	text-transform: uppercase;
}

#toggle:checked + .main-nav {
  right: 0;
}

#toggle {
  display: none;
}

.menu {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 100;
  font-size: 2.5em;
  color: $orange;
}
// main navigation styles end

header.about {
	background: url(background_tile/gplaypattern_@2X.png);
	position: relative;
}

header.about .wrapper {
	width: 80%;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: $navy;
	font-size: 5em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	letter-spacing: -0.01em;
	margin: 0 0 3% 0;
}

header span {
	color: $orange;
	font-weight: 400;
}

header.about .short-text {
	color: $navy;
}

header.about .description {
	font-size: 1.2em;
	margin: 0 0 3% 0;
}

header.about a.header-button {
	padding-top: 20px;
}

// SKILLS SECTION STYLES

.skills .skills-group {
	background-color: rgba(255, 255, 255, 0.1);
	position: relative;
}

.skills-group .wrapper {
	margin-bottom: 75px;
}

.skills p {
	color: $offgrey;
	font-size: 2em;
	padding-left: 8%;
	margin-bottom: 10px;
	text-align: left;
}

.skills .item {
	width: 16.66%;
	margin-bottom: 25px;
	text-align: center;
}

.skills h3 {
	color: grey;
	font-weight: 100;
	margin: 10px 0 0 0;
}

.skills i {
	font-size: 5em;
	color: $orange;
}

@media (max-width: 700px) {
	.skills i {
		font-size: 4em;
	}

	.skills h3 {
		font-size: 1em;
	}
}

@media (max-width: 550px) {
	.skills-group .wrapper {
		margin-bottom: 50px;
	}

	.skills .item {
		width: 33.3%;
	}

	.skills p {
		font-size: 1.6em;
		margin-bottom: 50px;
		//adjust top position if change font size
		top: -0.97em;
	}

	.skills h2 {
		padding-bottom: 50px;
	}
}

// EXPERTISE SECTION STYLES
.expertise .wrapper {
	padding-top: 0;
}

.expertise-item {
	width: 33.3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding-bottom: 40px;
}

.expertise-item i {
	font-size: 7em;
	color: $orange;
	padding-bottom: 10px 0;
}

.expertise-item p {
	color: $navy;
	font-size: 1.5em;
	font-family: 'Roboto Condensed', sans-serif;
}

@media (max-width: 650px) {
	.expertise-item i {
		font-size: 6em;
	}

	.expertise p {
		font-size: 1.2em;
	}
}

@media (max-width: 520px) {
	.expertise p.tag {
		font-size: 2em;
	}

	.expertise-item i {
		font-size: 5em;
	}

	.expertise-item p {
		font-size: 1em;
	}
}

@media (max-width: 450px) {
	.expertise-item p {
		display: none;
	}

	.expertise-item i {
		font-size: 4em;
	}
}

// PORTFOLIO SECTION STYLES

li.portfolio-item:first-child div.wrapper {
	padding-top: 0;
}

li.portfolio-item:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.1);
}

li.portfolio-item:nth-child(even) div.item-text {
	order: 2;
	padding-left: 3%;
	padding-right: 0;
}

.portfolio li div.item-screen:hover .photo-overlay {
	opacity: 1;
}

// portfolio clickable screens
.portfolio .item-screen {
	position: relative;
}

div.photo-overlay {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	opacity: 0;
	transition: 0.4s all ease;
}

div.photo-overlay a {
	z-index: 4;
	position: absolute;
	right: 50%;
	//margin-right is always half of the link width
	margin-right: -62px;
	top: 37.44%;
	//margin-top is always half of the link height
	margin-top: -30px;
}

.animation {
	position: absolute;
	top: 10%;
	left: 8%;
}

.code {
	position: relative;
}

.portfolio i {
	font-size: 2em;
	color: $orange;
}

.fa-minus {
	position: absolute;
	top: 15px;
	left: 20px;
}

// blinking thing

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

// portfolio project descriptions
.portfolio .item-text {
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
	justify-content: center;
}

.item-text h3 {
	text-align: left;
	margin: 0 0 30px 0;
	font-size: 2em;
	color: $orange;
	font-weight: 100;
	font-family: 'Roboto Condensed', sans-serif;
}

.item-text p {
	font-size: 1.2em;
	color: grey;
	line-height: 1.5em;
}

.item-text p.technology-used {
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	color: $orangedarker;
}

.item-text p.skills-used {
	font-family: 'Roboto Condensed', sans-serif;
	color: grey;
}

.photo-overlay .project {
	background-color: $orange;
	border-bottom: 3px solid $orangedarker;
}

.photo-overlay .project:hover {
	background-color: $orangedarker;
	border-bottom: 3px solid $orange;
}

//portfolio section media queries

@media (max-width: 900px) {
	.portfolio-item .item-text {
		width: 100%;
		padding: 0;
	}

	.portfolio-item .item-screen {
		width: 100%;
	}

	li.portfolio-item:nth-child(even) div.item-screen {
		order: 2;
	}

	.item-text h3 {
		text-align: center;
	}

	.item-text p.skills-used {
		margin-bottom: 20px;
	}
}

@media (max-width: 550px) {
	.item-text h3 {
		margin: 0 0 20px 0;
		font-size: 1.5em;
	}

	.item-text p {
		font-size: 1em;
		color: grey;
		line-height: 1.3em;
	}
}

// CONTACT SECTION STYLES

.contact .wrapper {
	padding-top: 0;
}

.contact p {
	font-size: 1.2em;
	color: grey;
	line-height: 1.5em;
}

.contact p.chat {
	font-size: 2.5em;
	color: $orange;
	padding-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.contact p.email {
	color: $orange;
}

.contact-nav {
	justify-content: center;
}

.contact-nav a {
	text-decoration: none;
	outline: none;
	color: $navy;
	transition: 0.2s all ease;
}

.contact a:hover {
	color: $orange;
}

.contact-nav i {
	font-size: 3em;
	padding: 20px 20px 0 20px;
}

form {
	text-align: left;
}

.highlight {
	width: 100%;
	border-radius: 5px;
	padding: 10px;
  margin: 5px 0 15px 0;
  border: 3px solid $offgrey;
	outline: none;
	color: grey;
	font-size: 1em;
	transition: all 0.5s ease;
}

.highlight:focus {
	border-top: 3px solid white;
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-bottom: 3px solid $navy;
}

input.button {
	outline: none;
	border: 0 none;
	border-bottom: 3px solid $navydarker;
}

//contact page media queries

@media (max-width: 750px) {
	.small-half {
		width: 100%;
	}

	.large-half {
		width: 100%;
	}
}

@media (max-width: 550px) {
	.contact p.chat {
		font-size: 1.8em;
		padding-bottom: 10px;
		text-align: center;
	}
}

@media (max-width: 316px) {
	.contact p.email {
		font-size: 1em;
	}
}

// FOOTER STYLES
.copyright {
	background-color: #262626;
}

.copyright p {
	text-align: center;
	letter-spacing: 0.1em;
	padding: 20px 0;
	font-size: 0.8em;
}

// THANK YOU PAGE 

.thankyou {
	background: url(background_tile/gplaypattern.png);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.transparent {
	width: 70%;
	height: 70%;
	padding: 0 5%;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.transparent i {
	font-size: 9em;
	color: $orange;
}

.thankyou p.ty {
	font-size: 1.5em;
	padding-top: 20px;
}

.thankyou p.message {
	padding-bottom: 50px;
}